CREATE TABLE users (
                    id TEXT PRIMARY KEY,
                    name TEXT NOT NULL,
                    email TEXT,
                    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
                , base_path_override TEXT, first_name TEXT, last_name TEXT, template_path TEXT, signature_image_path TEXT);
CREATE TABLE class_slots (
                    id TEXT PRIMARY KEY,
                    user_id TEXT NOT NULL,
                    slot_number INTEGER NOT NULL,
                    subject TEXT NOT NULL,
                    grade TEXT NOT NULL,
                    homeroom TEXT,
                    proficiency_levels TEXT,
                    primary_teacher_file TEXT,
                    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, primary_teacher_name TEXT, primary_teacher_file_pattern TEXT, display_order INTEGER, primary_teacher_first_name TEXT, primary_teacher_last_name TEXT, plan_group_label TEXT,
                    FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE,
                    UNIQUE(user_id, slot_number)
                );
CREATE TABLE weekly_plans (
                    id TEXT PRIMARY KEY,
                    user_id TEXT NOT NULL,
                    week_of TEXT NOT NULL,
                    generated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                    output_file TEXT,
                    status TEXT DEFAULT 'pending',
                    error_message TEXT, week_folder_path TEXT, consolidated INTEGER DEFAULT 0, total_slots INTEGER DEFAULT 1, processing_time_ms REAL, total_tokens INTEGER, total_cost_usd REAL, llm_model TEXT, lesson_json TEXT,
                    FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE
                );
CREATE TABLE performance_metrics (
                    id TEXT PRIMARY KEY,
                    plan_id TEXT NOT NULL,
                    slot_number INTEGER,
                    day_number INTEGER,
                    operation_type TEXT NOT NULL,
                    started_at TIMESTAMP NOT NULL,
                    completed_at TIMESTAMP,
                    duration_ms REAL,
                    tokens_input INTEGER,
                    tokens_output INTEGER,
                    tokens_total INTEGER,
                    llm_provider TEXT,
                    llm_model TEXT,
                    cost_usd REAL,
                    error_message TEXT,
                    FOREIGN KEY (plan_id) REFERENCES weekly_plans(id) ON DELETE CASCADE
                );
CREATE TABLE schedules (
                    id TEXT PRIMARY KEY,
                    user_id TEXT NOT NULL,
                    day_of_week TEXT NOT NULL,
                    start_time TEXT NOT NULL,
                    end_time TEXT NOT NULL,
                    subject TEXT NOT NULL,
                    homeroom TEXT,
                    grade TEXT,
                    slot_number INTEGER,
                    is_active BOOLEAN DEFAULT TRUE,
                    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, plan_slot_group_id TEXT,
                    FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE
                );
CREATE TABLE IF NOT EXISTS "lesson_steps" (
            id TEXT PRIMARY KEY,
            lesson_plan_id TEXT NOT NULL,
            day_of_week TEXT NOT NULL,
            slot_number INTEGER NOT NULL,
            step_number INTEGER NOT NULL,
            step_name TEXT NOT NULL,
            duration_minutes INTEGER NOT NULL,
            start_time_offset INTEGER NOT NULL,
            content_type TEXT NOT NULL,
            display_content TEXT NOT NULL,
            hidden_content TEXT,
            sentence_frames TEXT,
            materials_needed TEXT,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, vocabulary_cognates JSON,
            FOREIGN KEY (lesson_plan_id) REFERENCES weekly_plans(id) ON DELETE CASCADE,
            UNIQUE(lesson_plan_id, day_of_week, slot_number, step_number)
        );
CREATE TABLE lesson_mode_sessions (
	id VARCHAR NOT NULL, 
	user_id VARCHAR NOT NULL, 
	lesson_plan_id VARCHAR NOT NULL, 
	schedule_entry_id VARCHAR, 
	day_of_week VARCHAR NOT NULL, 
	slot_number INTEGER NOT NULL, 
	current_step_index INTEGER NOT NULL, 
	remaining_time INTEGER NOT NULL, 
	is_running BOOLEAN NOT NULL, 
	is_paused BOOLEAN NOT NULL, 
	is_synced BOOLEAN NOT NULL, 
	timer_start_time DATETIME, 
	paused_at INTEGER, 
	adjusted_durations JSON, 
	session_start_time DATETIME NOT NULL, 
	last_updated DATETIME NOT NULL, 
	ended_at DATETIME, 
	PRIMARY KEY (id)
);
CREATE INDEX idx_class_slots_user_id 
                ON class_slots(user_id)
            ;
CREATE INDEX idx_weekly_plans_user_id 
                ON weekly_plans(user_id)
            ;
CREATE INDEX idx_performance_metrics_plan_id
                ON performance_metrics(plan_id)
            ;
CREATE INDEX idx_performance_metrics_started_at
                ON performance_metrics(started_at)
            ;
CREATE INDEX idx_schedules_user_day 
                    ON schedules(user_id, day_of_week)
                ;
CREATE INDEX idx_schedules_user_time 
                    ON schedules(user_id, day_of_week, start_time)
                ;
CREATE INDEX idx_schedules_current 
                    ON schedules(user_id, is_active, day_of_week, start_time, end_time)
                ;
CREATE INDEX idx_schedules_homeroom 
                    ON schedules(user_id, homeroom, day_of_week)
                ;
CREATE INDEX idx_schedules_grade 
                    ON schedules(user_id, grade, day_of_week)
                ;
CREATE INDEX idx_lesson_steps_plan_day_slot
        ON lesson_steps(lesson_plan_id, day_of_week, slot_number)
        ;
CREATE INDEX idx_lesson_steps_plan_id
        ON lesson_steps(lesson_plan_id)
        ;
CREATE INDEX idx_schedules_plan_group
            ON schedules(plan_slot_group_id)
            ;
CREATE INDEX ix_lesson_mode_sessions_lesson_plan_id ON lesson_mode_sessions (lesson_plan_id);
CREATE INDEX ix_lesson_mode_sessions_user_id ON lesson_mode_sessions (user_id);
