**Content Objective:** {{ day.objective.content_objective }}<br><br>**Student Goal (I will...):** {{ day.objective.student_goal }}<br><br>**WIDA Bilingual Language Objective:** {{ day.objective.wida_objective }}
