{{ day.tailored_instruction.original_content }}<br><br>---<br><br>{% set model = day.tailored_instruction.co_teaching_model %}{% include 'partials/co_teaching_model.jinja2' %}<br><br>---<br><br>{% set support = day.tailored_instruction.ell_support %}{% include 'partials/ell_support.jinja2' %}<br><br>**Special Needs Support:**<br>{% for item in day.tailored_instruction.special_needs_support %}• {{ item }}<br>{% endfor %}<br>**Materials:** {{ day.tailored_instruction.materials | join(', ') }}
